.Header {
  background-color: darksalmon;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  padding-left: 10px;
}

.Header a:link {
  text-decoration: none;
}

.Header a:visited {
  color: black;
}

.Header a:hover {
  color: whitesmoke;
}
